body {
    margin: 0;
    font-family: Arial;
    background-color: #111;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    background-color: #1e1e1e;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

div {
    padding: 80px;
    min-height: 100vh;
}